# Import Libraries

In [ ]:
import pandas as pd
import os
import numpy as np

# Importing Local Database_files

##### Use the files names as defined else u will need to adjust those.
##### For training "**data_augmented.csv**"
##### "**Route_\<route_number\>_complete.xlsx**"
###### Also remember to upload these files to the notebook.

## Paths

In [ ]:
df_1_path  = os.path.join(os.getcwd(), 'Route_1_complete.xlsx')
df_2_path  = os.path.join(os.getcwd(), 'Route_2_complete.xlsx')
df_ag_path = os.path.join(os.getcwd(), 'data_augmented.csv')

## Loading Data Frame from paths

In [72]:
df_1_vl = pd.read_excel(df_1_path, sheet_name='VL')
df_1_l = pd.read_excel(df_1_path, sheet_name='L').iloc[1:,:]
df_1_m = pd.read_excel(df_1_path, sheet_name='M').iloc[1:,:]
df_1_h = pd.read_excel(df_1_path, sheet_name='H').iloc[1:,:]
df_1_vh = pd.read_excel(df_1_path, sheet_name='VH').iloc[1:,:]

print("Dataframes Meta")
print("VL :", len(df_1_vl))
print("L  :", len(df_1_l))
print("M  :", len(df_1_m))
print("H  :", len(df_1_h))
print("VH :", len(df_1_vh))

df_list = [df_1_vl, df_1_l, df_1_m, df_1_h, df_1_vh]

print("Roue 2")
df_2_vl = pd.read_excel(df_2_path, sheet_name='VL').iloc[1:,:]
df_2_l = pd.read_excel(df_2_path, sheet_name='L').iloc[1:,:]
df_2_m = pd.read_excel(df_2_path, sheet_name='M').iloc[1:,:]
df_2_h = pd.read_excel(df_2_path, sheet_name='H').iloc[1:,:]
df_2_vh = pd.read_excel(df_2_path, sheet_name='VH').iloc[1:,:]

print("Dataframes Meta")
print("VL :", len(df_2_vl))
print("L  :", len(df_2_l))
print("M  :", len(df_2_m))
print("H  :", len(df_2_h))
print("VH :", len(df_2_vh))

df_2_list = [df_2_vl, df_2_l, df_2_m, df_2_h, df_2_vh]

df_ag = pd.read_csv(df_ag_path, index_col=0)
print("Augmented data : ", len(df_ag))

Dataframes Meta
VL : 34
L  : 34
M  : 34
H  : 34
VH : 34
Roue 2
Dataframes Meta
VL : 26
L  : 26
M  : 26
H  : 26
VH : 26
Augmented data :  5009

## Adjust column Names

In [ ]:
columns_name = ['Loc', 'Cam', 'Police', 'Visibility', 'Population', 'Safety', 'Lng', 'Lat']

for x in df_list:
  x.columns = columns_name

for x in df_2_list:
  x.columns = columns_name

df_1_l.head(5)

,Loc,Cam,Police,Visibility,Population,Safety,Lng,Lat
1,Bus Stand,YES,YES,1,2,4,76.403865,30.338796
2,Shri Aurobindo International School,YES,YES,1,2,3,76.404373,30.338264
3,Saanjh Kendra Patiala,MAYBE,NO,1,1,1,76.405234,30.337341
4,Police Station Lahori Gate,YES,YES,1,2,3,76.406021,30.336605
5,Sirhindi Gate,YES,MAYBE,1,1,2,76.407053,30.335499

## Transform Literals to Numerical

In [ ]:
dict_l = {'NO':0, 'MAYBE':1, 'YES':2}
def get_val(val):
  if val in range(0,3):
    return val
  return dict_l[val]

dict_v = {'VL':0, 'L':1, 'M':2, 'H':3, 'VH':4}
def get_v_val(val):
  if val in range(0,5):
    return val
  return dict_v[val]

for x in df_list:
  x['Cam']        = x['Cam'].apply(get_val)
  x['Police']     = x['Police'].apply(get_val)
  x['Visibility'] = x['Visibility'].apply(get_v_val)

for x in df_2_list:
  x['Cam']        = x['Cam'].apply(get_val)
  x['Police']     = x['Police'].apply(get_val)
  x['Visibility'] = x['Visibility'].apply(get_v_val)

df_1_vl.head(5)

,Loc,Cam,Police,Visibility,Population,Safety,Lng,Lat
0,Bus Stand,2,2,0,2,3,76.403865,30.338796
1,Shri Aurobindo International School,2,2,0,1,2,76.404373,30.338264
2,Saanjh Kendra Patiala,1,0,0,0,0,76.405234,30.337341
3,Police Station Lahori Gate,2,2,0,2,2,76.406021,30.336605
4,Sirhindi Gate,2,1,0,1,1,76.407053,30.335499

# Data Split

## Training data

In [ ]:
df_ag = df_ag.sample(frac=1).reset_index(drop=True)


x = df_ag.iloc[:,:-1]
y = df_ag.iloc[:,-1]

print('X', x.head(5), sep='\n')
print('Y', y.head(5), sep='\n')

X
   Cam  Police  Visibility  Population
0    2       2           4           2
1    2       0           2           2
2    0       2           3           2
3    0       0           1           0
4    0       0           4           2
Y
0    4
1    3
2    3
3    0
4    4
Name: Safety, dtype: int64

## Testing data

In [ ]:
df = pd.concat(df_list, ignore_index=True)
print(df.head(5))
print("Test Dataset :", len(df))

x_test = df.iloc[:,1:5]
y_test = df.iloc[:,5]

print('X Test :', x_test.head(5), sep='\n')
print('Y Test :', y_test.head(5), sep='\n')

print("Route 2")

df_2 = pd.concat(df_2_list, ignore_index=True)
print(df_2.head(5))
print("Test Dataset :", len(df_2))

x_2_test = df_2.iloc[:,1:5]
y_2_test = df_2.iloc[:,5]

print('X Test :', x_2_test.head(5), sep='\n')
print('Y Test :', y_2_test.head(5), sep='\n')

                                   Loc  Cam  Police  Visibility Population  \
0                            Bus Stand    2       2           0          2
1  Shri Aurobindo International School    2       2           0          1
2                Saanjh Kendra Patiala    1       0           0          0
3           Police Station Lahori Gate    2       2           0          2
4                        Sirhindi Gate    2       1           0          1

  Safety        Lng        Lat
0      3  76.403865  30.338796
1      2  76.404373  30.338264
2      0  76.405234  30.337341
3      2  76.406021  30.336605
4      1  76.407053  30.335499
Test Dataset : 170
X Test :
   Cam  Police  Visibility Population
0    2       2           0          2
1    2       2           0          1
2    1       0           0          0
3    2       2           0          2
4    2       1           0          1
Y Test :
0    3
1    2
2    0
3    2
4    1
Name: Safety, dtype: object
Route 2
                           Loc  Cam  Police  Visibility  Population  Safety  \
0        Patiala Guru Jindabad    2       2           0           1       2
1               Prontha market    0       1           0           0       0
2                   Priti Oils    0       0           0           2       1
3                      SBI ATM    2       1           0           1       1
4  PSPCL Sub Divisional Office    1       1           0           0       0

         Lng        Lat
0  76.402732  30.340317
1  76.403698  30.341376
2  76.403928  30.341766
3  76.404410  30.342421
4  76.405413  30.343688
Test Dataset : 130
X Test :
   Cam  Police  Visibility  Population
0    2       2           0           1
1    0       1           0           0
2    0       0           0           2
3    2       1           0           1
4    1       1           0           0
Y Test :
0    2
1    0
2    1
3    1
4    0
Name: Safety, dtype: int64

# Model training

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
model = LogisticRegression(max_iter=10000)
model.fit(x,y)

LogisticRegression(max_iter=10000)

In [ ]:
y_pred = model.predict([[0,0,0,0], [2,2,2,4], [0,2,1,2]])
y_pred

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  "X does not have valid feature names, but"

array([0, 4, 2])

In [ ]:
print("Accuracy on Train Data :", model.score(x,y))

Accuracy on Train Data : 0.887801956478339

## Test Dataset

In [ ]:
print("Route 1")
pred = model.predict(x_test)
count = 0
for i in range(len(pred)):
  if pred[i] == y_test[i]:
    count += 1
  #print(pred[i], y_test[i])
print("Accuracy on Test Data :", count/len(pred)*100)

print("Route 2")

pred_2 = model.predict(x_2_test)
count_2 = 0
for i in range(len(pred_2)):
  if pred_2[i] == y_2_test[i]:
    count_2 += 1
  #print(pred_2[i], y_2_test[i])
print("Accuracy on Test Data :", count_2/len(pred_2)*100)

Route 1
Accuracy on Test Data : 85.29411764705883
Route 2
Accuracy on Test Data : 82.3076923076923

## Individual Accuracy

In [ ]:
accu_l = []
start = 0
for df in df_list:
  x_t = df.iloc[:,1:5]
  y_t = df.iloc[:,5]
  pred = model.predict(x_t)
  count = 0
  for i in range(start, len(pred)):
    if pred[i] == y_t.get(i):
      count += 1
  accu = count/len(pred)
  accu_l.append(accu)
  start = 1

print("Accuracy Test : R_1_VL :", accu_l[0])
print("Accuracy Test : R_1_L  :", accu_l[1])
print("Accuracy Test : R_1_M  :", accu_l[2])
print("Accuracy Test : R_1_H  :", accu_l[3])
print("Accuracy Test : R_1_VH :", accu_l[4])

accu_2_l = []
start_2 = 0
for df_2 in df_2_list:
  x_2_t = df_2.iloc[:,1:5]
  y_2_t = df_2.iloc[:,5]
  pred_2 = model.predict(x_2_t)
  count_2 = 0
  for i in range(start_2, len(pred_2)):
    if pred_2[i] == y_2_t.get(i):
      count_2 += 1
  accu_2 = count_2/len(pred_2)
  accu_2_l.append(accu_2)
  start_2 = 1

print("Accuracy Test : R_2_VL :", accu_2_l[0])
print("Accuracy Test : R_2_L  :", accu_2_l[1])
print("Accuracy Test : R_2_M  :", accu_2_l[2])
print("Accuracy Test : R_2_H  :", accu_2_l[3])
print("Accuracy Test : R_2_VH :", accu_2_l[4])

Accuracy Test : R_1_VL : 0.8529411764705882
Accuracy Test : R_1_L  : 0.3235294117647059
Accuracy Test : R_1_M  : 0.38235294117647056
Accuracy Test : R_1_H  : 0.23529411764705882
Accuracy Test : R_1_VH : 0.3235294117647059
Accuracy Test : R_2_VL : 0.23076923076923078
Accuracy Test : R_2_L  : 0.11538461538461539
Accuracy Test : R_2_M  : 0.3076923076923077
Accuracy Test : R_2_H  : 0.15384615384615385
Accuracy Test : R_2_VH : 0.11538461538461539

# Save Model

In [ ]:
import pickle

In [ ]:
filename = 'model.sav'
pickle.dump(model, open(filename, 'wb'))

# Load Model

#### Use "**model.sav**" as the model file name and remember to upload model to colab

In [ ]:
import pickle

In [ ]:
filename = 'model.sav'
loaded_model = pickle.load(open(filename, 'rb'))
res = loaded_model.predict([[0, 0, 0, 0]]) # use values to predict mannualy in [[ 0, 0, 0, 0]]
print("Prediction :", res)

Prediction : [0]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  "X does not have valid feature names, but"

# Convert Model data to Firebase (json)

In [ ]:
import json

In [ ]:
df_list_mod = []

for df in df_list:
  df_list_mod.append(df.loc[:, ['Lng', 'Lat', 'Visibility', 'Safety']])

df_list_2_mod = []

for df in df_2_list:
  df_list_2_mod.append(df.loc[:, ['Lng', 'Lat', 'Visibility', 'Safety']])

print(df_list_mod[1].head(5))
print(df_list_2_mod[1].head(5))

         Lng        Lat  Visibility Safety
1  76.403865  30.338796           1      4
2  76.404373  30.338264           1      3
3  76.405234  30.337341           1      1
4  76.406021  30.336605           1      3
5  76.407053  30.335499           1      2
         Lng        Lat  Visibility  Safety
1  76.402732  30.340317           1       3
2  76.403698  30.341376           1       1
3  76.403928  30.341766           1       0
4  76.404410  30.342421           1       1
5  76.405413  30.343688           1       2

In [ ]:
parent = {}

for i,row in df_list_mod[0].iterrows():
  dic = {'Lat':row['Lat'], 'Lng':row['Lng']}
  dic['VL'] = int(row['Safety'])
  dic['L']  = df_list_mod[1].loc[i+1, 'Safety']
  dic['M']  = df_list_mod[2].loc[i+1, 'Safety']
  dic['H']  = df_list_mod[3].loc[i+1, 'Safety']
  dic['VH'] = df_list_mod[4].loc[i+1, 'Safety']
  parent[i] = dic
  print(i, dic)

parent_2 = {}

for i,row in df_list_2_mod[0].iterrows():
  dic = {'Lat':row['Lat'], 'Lng':row['Lng']}
  dic['VL'] = int(row['Safety'])
  dic['L']  = int(df_list_2_mod[1].loc[i, 'Safety'])
  dic['M']  = int(df_list_2_mod[2].loc[i, 'Safety'])
  dic['H']  = int(df_list_2_mod[3].loc[i, 'Safety'])
  dic['VH'] = int(df_list_2_mod[4].loc[i, 'Safety'])
  parent_2[int(i)] = dic
  print(i, dic)

0 {'Lat': 30.3387958277685, 'Lng': 76.4038652207071, 'VL': 3, 'L': 4, 'M': 4, 'H': 4, 'VH': 4}
1 {'Lat': 30.3382644405075, 'Lng': 76.404373326127, 'VL': 2, 'L': 3, 'M': 2, 'H': 4, 'VH': 4}
2 {'Lat': 30.3373411085995, 'Lng': 76.4052337925727, 'VL': 0, 'L': 1, 'M': 2, 'H': 3, 'VH': 3}
3 {'Lat': 30.3366054063364, 'Lng': 76.4060206158292, 'VL': 2, 'L': 3, 'M': 2, 'H': 4, 'VH': 4}
4 {'Lat': 30.3354994574147, 'Lng': 76.4070525405467, 'VL': 1, 'L': 2, 'M': 3, 'H': 4, 'VH': 4}
5 {'Lat': 30.3351695209338, 'Lng': 76.4073961981845, 'VL': 0, 'L': 1, 'M': 2, 'H': 3, 'VH': 3}
6 {'Lat': 30.3344592554962, 'Lng': 76.4081157036218, 'VL': 0, 'L': 1, 'M': 2, 'H': 1, 'VH': 3}
7 {'Lat': 30.333015422635, 'Lng': 76.4095547136816, 'VL': 2, 'L': 2, 'M': 2, 'H': 1, 'VH': 4}
8 {'Lat': 30.3330106506127, 'Lng': 76.4095616391869, 'VL': 1, 'L': 2, 'M': 2, 'H': 4, 'VH': 3}
9 {'Lat': 30.3322645526682, 'Lng': 76.4103497975185, 'VL': 1, 'L': 2, 'M': 2, 'H': 3, 'VH': 4}
10 {'Lat': 30.3313850455656, 'Lng': 76.4176595583658, 'VL': 0, 'L': 1, 'M': 1, 'H': 3, 'VH': 4}
11 {'Lat': 30.3318379872367, 'Lng': 76.418686303846, 'VL': 2, 'L': 2, 'M': 2, 'H': 3, 'VH': 4}
12 {'Lat': 30.3336986770748, 'Lng': 76.4217285545938, 'VL': 1, 'L': 1, 'M': 1, 'H': 3, 'VH': 2}
13 {'Lat': 30.3342360776659, 'Lng': 76.4226273265693, 'VL': 0, 'L': 1, 'M': 1, 'H': 2, 'VH': 3}
14 {'Lat': 30.3359940567503, 'Lng': 76.4261918153232, 'VL': 0, 'L': 0, 'M': 1, 'H': 2, 'VH': 3}
15 {'Lat': 30.3368557989311, 'Lng': 76.4269805956891, 'VL': 0, 'L': 0, 'M': 1, 'H': 0, 'VH': 1}
16 {'Lat': 30.3372177283856, 'Lng': 76.4275297465764, 'VL': 0, 'L': 0, 'M': 0, 'H': 2, 'VH': 3}
17 {'Lat': 30.3384009046156, 'Lng': 76.4294298328588, 'VL': 0, 'L': 1, 'M': 1, 'H': 1, 'VH': 3}
18 {'Lat': 30.3388403832711, 'Lng': 76.4300289065537, 'VL': 1, 'L': 1, 'M': 1, 'H': 3, 'VH': 4}
19 {'Lat': 30.3392023053889, 'Lng': 76.4305181500728, 'VL': 0, 'L': 0, 'M': 1, 'H': 2, 'VH': 1}
20 {'Lat': 30.3396417804467, 'Lng': 76.4310872700829, 'VL': 1, 'L': 1, 'M': 2, 'H': 4, 'VH': 4}
21 {'Lat': 30.3399503174541, 'Lng': 76.4314769101275, 'VL': 0, 'L': 0, 'M': 0, 'H': 2, 'VH': 3}
22 {'Lat': 30.3402519158925, 'Lng': 76.4319162308376, 'VL': 0, 'L': 1, 'M': 2, 'H': 3, 'VH': 3}
23 {'Lat': 30.3404931939738, 'Lng': 76.4322357368085, 'VL': 1, 'L': 1, 'M': 2, 'H': 3, 'VH': 2}
24 {'Lat': 30.3408034077757, 'Lng': 76.4325752119021, 'VL': 1, 'L': 1, 'M': 1, 'H': 3, 'VH': 4}
25 {'Lat': 30.3414823338087, 'Lng': 76.4334459976002, 'VL': 0, 'L': 0, 'M': 1, 'H': 3, 'VH': 3}
26 {'Lat': 30.344219891611, 'Lng': 76.4369106369213, 'VL': 2, 'L': 3, 'M': 3, 'H': 4, 'VH': 4}
27 {'Lat': 30.3448553239582, 'Lng': 76.4376467693006, 'VL': 2, 'L': 2, 'M': 3, 'H': 3, 'VH': 4}
28 {'Lat': 30.3450850454877, 'Lng': 76.4378782386117, 'VL': 1, 'L': 1, 'M': 1, 'H': 2, 'VH': 3}
29 {'Lat': 30.3453946693051, 'Lng': 76.4383180303033, 'VL': 0, 'L': 1, 'M': 1, 'H': 1, 'VH': 1}
30 {'Lat': 30.3476361132336, 'Lng': 76.4417168301516, 'VL': 0, 'L': 0, 'M': 0, 'H': 2, 'VH': 3}
31 {'Lat': 30.3481323588381, 'Lng': 76.4429631646839, 'VL': 1, 'L': 1, 'M': 2, 'H': 2, 'VH': 3}
32 {'Lat': 30.3522766443573, 'Lng': 76.4488071392517, 'VL': 0, 'L': 1, 'M': 1, 'H': 1, 'VH': 2}
33 {'Lat': 30.3568106889528, 'Lng': 76.455238561823, 'VL': 2, 'L': 3, 'M': 3, 'H': 4, 'VH': 4}
1 {'Lat': 30.3403174625567, 'Lng': 76.4027317312841, 'VL': 2, 'L': 3, 'M': 2, 'H': 3, 'VH': 4}
2 {'Lat': 30.341375956773, 'Lng': 76.403697873132, 'VL': 0, 'L': 1, 'M': 1, 'H': 1, 'VH': 3}
3 {'Lat': 30.3417657220857, 'Lng': 76.4039275441734, 'VL': 1, 'L': 0, 'M': 1, 'H': 2, 'VH': 2}
4 {'Lat': 30.3424206445551, 'Lng': 76.4044101839701, 'VL': 1, 'L': 1, 'M': 3, 'H': 2, 'VH': 4}
5 {'Lat': 30.343687778663, 'Lng': 76.4054125210934, 'VL': 0, 'L': 2, 'M': 1, 'H': 3, 'VH': 4}
6 {'Lat': 30.3439945996757, 'Lng': 76.405653337754, 'VL': 1, 'L': 1, 'M': 2, 'H': 2, 'VH': 3}
7 {'Lat': 30.3438137502076, 'Lng': 76.405516019308, 'VL': 0, 'L': 1, 'M': 0, 'H': 0, 'VH': 1}
8 {'Lat': 30.3460003116911, 'Lng': 76.4067310535087, 'VL': 0, 'L': 0, 'M': 1, 'H': 3, 'VH': 4}
9 {'Lat': 30.3510907093308, 'Lng': 76.412241783596, 'VL': 0, 'L': 1, 'M': 1, 'H': 2, 'VH': 3}
10 {'Lat': 30.3513985472393, 'Lng': 76.4126052021749, 'VL': 0, 'L': 0, 'M': 0, 'H': 1, 'VH': 4}
11 {'Lat': 30.3549901761984, 'Lng': 76.416285560325, 'VL': 1, 'L': 2, 'M': 2, 'H': 3, 'VH': 3}
12 {'Lat': 30.3571214990342, 'Lng': 76.4185174714012, 'VL': 1, 'L': 1, 'M': 2, 'H': 1, 'VH': 2}
13 {'Lat': 30.3578073049943, 'Lng': 76.4192129599014, 'VL': 1, 'L': 2, 'M': 2, 'H': 2, 'VH': 4}
14 {'Lat': 30.3592966038369, 'Lng': 76.4219246187526, 'VL': 0, 'L': 0, 'M': 1, 'H': 2, 'VH': 3}
15 {'Lat': 30.3549703596489, 'Lng': 76.4258038186086, 'VL': 1, 'L': 2, 'M': 2, 'H': 3, 'VH': 4}
16 {'Lat': 30.3546643493769, 'Lng': 76.4260981207443, 'VL': 0, 'L': 0, 'M': 0, 'H': 2, 'VH': 3}
17 {'Lat': 30.352982159148, 'Lng': 76.4276322936047, 'VL': 2, 'L': 2, 'M': 2, 'H': 4, 'VH': 4}
18 {'Lat': 30.352858841543, 'Lng': 76.4277374945738, 'VL': 1, 'L': 2, 'M': 2, 'H': 2, 'VH': 4}
19 {'Lat': 30.3520397723859, 'Lng': 76.4285234681159, 'VL': 0, 'L': 1, 'M': 1, 'H': 2, 'VH': 3}
20 {'Lat': 30.3508440443895, 'Lng': 76.4297125775173, 'VL': 2, 'L': 2, 'M': 3, 'H': 4, 'VH': 4}
21 {'Lat': 30.3513833982476, 'Lng': 76.4304463748495, 'VL': 1, 'L': 1, 'M': 1, 'H': 2, 'VH': 3}
22 {'Lat': 30.3523841561925, 'Lng': 76.4317488738848, 'VL': 0, 'L': 2, 'M': 2, 'H': 3, 'VH': 4}
23 {'Lat': 30.3531035866957, 'Lng': 76.4326715365982, 'VL': 1, 'L': 2, 'M': 2, 'H': 4, 'VH': 4}
24 {'Lat': 30.3551021079391, 'Lng': 76.4352543812277, 'VL': 2, 'L': 3, 'M': 2, 'H': 4, 'VH': 4}
25 {'Lat': 30.3565077186112, 'Lng': 76.4431020643773, 'VL': 0, 'L': 1, 'M': 2, 'H': 2, 'VH': 3}
26 {'Lat': 30.3585329281303, 'Lng': 76.4459424178376, 'VL': 2, 'L': 3, 'M': 3, 'H': 4, 'VH': 4}

In [ ]:
json_object = json.dumps(parent, indent = 4)
print(json_object)

In [ ]:
json_object_2 = json.dumps(parent_2, indent = 4)
print(json_object_2)

{
    "1": {
        "Lat": 30.3403174625567,
        "Lng": 76.4027317312841,
        "VL": 2,
        "L": 3,
        "M": 2,
        "H": 3,
        "VH": 4
    },
    "2": {
        "Lat": 30.341375956773,
        "Lng": 76.403697873132,
        "VL": 0,
        "L": 1,
        "M": 1,
        "H": 1,
        "VH": 3
    },
    "3": {
        "Lat": 30.3417657220857,
        "Lng": 76.4039275441734,
        "VL": 1,
        "L": 0,
        "M": 1,
        "H": 2,
        "VH": 2
    },
    "4": {
        "Lat": 30.3424206445551,
        "Lng": 76.4044101839701,
        "VL": 1,
        "L": 1,
        "M": 3,
        "H": 2,
        "VH": 4
    },
    "5": {
        "Lat": 30.343687778663,
        "Lng": 76.4054125210934,
        "VL": 0,
        "L": 2,
        "M": 1,
        "H": 3,
        "VH": 4
    },
    "6": {
        "Lat": 30.3439945996757,
        "Lng": 76.405653337754,
        "VL": 1,
        "L": 1,
        "M": 2,
        "H": 2,
        "VH": 3
    },
    "7": {
        "Lat": 30.3438137502076,
        "Lng": 76.405516019308,
        "VL": 0,
        "L": 1,
        "M": 0,
        "H": 0,
        "VH": 1
    },
    "8": {
        "Lat": 30.3460003116911,
        "Lng": 76.4067310535087,
        "VL": 0,
        "L": 0,
        "M": 1,
        "H": 3,
        "VH": 4
    },
    "9": {
        "Lat": 30.3510907093308,
        "Lng": 76.412241783596,
        "VL": 0,
        "L": 1,
        "M": 1,
        "H": 2,
        "VH": 3
    },
    "10": {
        "Lat": 30.3513985472393,
        "Lng": 76.4126052021749,
        "VL": 0,
        "L": 0,
        "M": 0,
        "H": 1,
        "VH": 4
    },
    "11": {
        "Lat": 30.3549901761984,
        "Lng": 76.416285560325,
        "VL": 1,
        "L": 2,
        "M": 2,
        "H": 3,
        "VH": 3
    },
    "12": {
        "Lat": 30.3571214990342,
        "Lng": 76.4185174714012,
        "VL": 1,
        "L": 1,
        "M": 2,
        "H": 1,
        "VH": 2
    },
    "13": {
        "Lat": 30.3578073049943,
        "Lng": 76.4192129599014,
        "VL": 1,
        "L": 2,
        "M": 2,
        "H": 2,
        "VH": 4
    },
    "14": {
        "Lat": 30.3592966038369,
        "Lng": 76.4219246187526,
        "VL": 0,
        "L": 0,
        "M": 1,
        "H": 2,
        "VH": 3
    },
    "15": {
        "Lat": 30.3549703596489,
        "Lng": 76.4258038186086,
        "VL": 1,
        "L": 2,
        "M": 2,
        "H": 3,
        "VH": 4
    },
    "16": {
        "Lat": 30.3546643493769,
        "Lng": 76.4260981207443,
        "VL": 0,
        "L": 0,
        "M": 0,
        "H": 2,
        "VH": 3
    },
    "17": {
        "Lat": 30.352982159148,
        "Lng": 76.4276322936047,
        "VL": 2,
        "L": 2,
        "M": 2,
        "H": 4,
        "VH": 4
    },
    "18": {
        "Lat": 30.352858841543,
        "Lng": 76.4277374945738,
        "VL": 1,
        "L": 2,
        "M": 2,
        "H": 2,
        "VH": 4
    },
    "19": {
        "Lat": 30.3520397723859,
        "Lng": 76.4285234681159,
        "VL": 0,
        "L": 1,
        "M": 1,
        "H": 2,
        "VH": 3
    },
    "20": {
        "Lat": 30.3508440443895,
        "Lng": 76.4297125775173,
        "VL": 2,
        "L": 2,
        "M": 3,
        "H": 4,
        "VH": 4
    },
    "21": {
        "Lat": 30.3513833982476,
        "Lng": 76.4304463748495,
        "VL": 1,
        "L": 1,
        "M": 1,
        "H": 2,
        "VH": 3
    },
    "22": {
        "Lat": 30.3523841561925,
        "Lng": 76.4317488738848,
        "VL": 0,
        "L": 2,
        "M": 2,
        "H": 3,
        "VH": 4
    },
    "23": {
        "Lat": 30.3531035866957,
        "Lng": 76.4326715365982,
        "VL": 1,
        "L": 2,
        "M": 2,
        "H": 4,
        "VH": 4
    },
    "24": {
        "Lat": 30.3551021079391,
        "Lng": 76.4352543812277,
        "VL": 2,
        "L": 3,
        "M": 2,
        "H": 4,
        "VH": 4
    },
    "25": {
        "Lat": 30.3565077186112,
        "Lng": 76.4431020643773,
        "VL": 0,
        "L": 1,
        "M": 2,
        "H": 2,
        "VH": 3
    },
    "26": {
        "Lat": 30.3585329281303,
        "Lng": 76.4459424178376,
        "VL": 2,
        "L": 3,
        "M": 3,
        "H": 4,
        "VH": 4
    }
}

In [ ]:
with open("route_1.json", "w") as outfile:
    json.dump(parent, outfile)
with open("route_2.json", "w") as outfile:
    json.dump(parent_2, outfile)